# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# Temporary files
temp_speech.mp3
*.wav
*.mp3
*.opus

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db

# Ignore nexusbridge json file
agent_assistant/nexusbridge-f31ca052f9ee.json

# Ignore all files in the knowledge directory
agent_assistant/knowledge/* 
knowledge/conversation_history.txt
knowledge/ideas.txt
knowledge/memories.txt
agent_assistant/nexusbridge-f31ca052f9ee.json
knowledge/tasks.json
nexusbridge-f31ca052f9ee.json
